# --- FLUTTER / DART ---
.dart_tool/
.buildlog
.pub/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart
build/
**/build/

# --- ANDROID BUILD ARTIFACTS ---
android/app/build/
android/build/
**/intermediates/
**/generated/
**/gradle/
.gradle/
local.properties

# --- APK / AAB / IPA ---
*.apk
*.aab
*.ipa

# --- OTHER SECRETS ---
*.jks
*.keystore
key.properties

# --- IDE STUFF ---
.vscode/
.idea/
*.iml

# --- LOGS ---
*.log

# --- OS JUNK ---
.DS_Store
*.swp
